body{
    background-image: url(../img/bg.svg);
    background-color: #222021;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.background-two{
    background-image: url(../img/imag-small.png);
    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
        background-image: url(../img/imag.png);

    }
}
.bg-menu{
    display: flex;
  justify-content: space-between;
align-items: center;
padding: 43px 16px 0 19px;


}
.category{
    text-decoration: none;
    color: white;

    @media screen and(min-width:768px) {
        padding-left: 63px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #F5F5F5;
    }
    
}
.header-category{
    display: flex;
   text-align: center;
  
    display: none;
    @media screen and(min-width:768px){
        display: block;
    }
    
}

.burger-logo{
    display: block;

    @media screen and(min-width:768px) {
    display: none;
       
    }
}
.burger{
    text-align: end;

}
.header-logo{
   
    @media screen and(min-width:768px){
        width: 197px;
height: 83.8px;
    }
}

.about-us{
  margin-top: 86px;
}
.prodact{
   
}
.prodact-h{
    font-family: 'KyivType Sans';
font-style: normal;
font-weight: 500;
font-size: 90px;
line-height: 104px;
text-transform: uppercase;
color: #F5F5F5;
margin-bottom: 24px;
@media screen and(max-width:768px){
    font-family: 'KyivType Sans';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 107.9%;
text-transform: uppercase;
color: #F5F5F5;
}
}
.prodact-p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 39px;
color: #FFDBBB;
margin-bottom: 60px;
@media screen and(max-width:768px){
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
color: #FFDBBB;
}
}
.prodact-button{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 70px;
background: #728BAD;
border-radius: 42px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
color: #F5F5F5;
width: 225px;
height: 58px;
outline: 0;
@media screen and(max-width:768px){
    display: flex;
flex-direction: row;
padding: 15px 17px;
background: #728BAD;
border-radius: 42px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
color: #F5F5F5;
width: 86px;
height: 21px;
outline: 0;
}
}
.line{
    border-left: 1px solid #F5F5F5;
    @media screen and(max-width:768px){
        border-bottom: 1px solid #F5F5F5;
    }
}
.d-flex{
display: flex;
align-items: center;
gap: 44px;
align-items: stretch;
padding: 50px;
max-width: 1245px;
margin-left: auto;
background-color: #1E0C06;
border-radius: 43px 0px 0px 43px;

@media screen and(max-width:768px){
    display: flex;
    flex-direction: column;
}

}
.pictures{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
 min-width: 450px;
    img{
        width: 100%;
        max-width: 205px;
        max-height: 205px;
       border-radius: 42px;
       @media screen and(max-width:768px){
        width: 100%;
        max-width: 90px;
        max-height: 90px;
       border-radius: 14px;
       }
    }
    @media screen and(max-width:768px){
        position: absolute;
        
    }
}
.df-40{
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: nowrap;
}
.table{
   margin-top: 50px;
   @media screen and(max-width:768px){
    margin-left: 50px;
    margin-bottom: 180px;
    
   }
   
}
.style{
    margin-left: auto;
    margin-bottom: 30px;
    @media screen and(max-width:768px){
        margin-right: 200px;
        margin-top: 130px;
    }
}
.stars{
   margin-bottom: 250px;
}
.container{
    max-width: 1245px;
    width: 100%;
 
}
.wood{
    margin-top: 209px;
}
.wood-h{
    font-family: 'KyivType Sans';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 133%;
color: #F5F5F5;
margin-left: 19px;
margin-bottom: 90px;

@media screen and(min-width:768px){

font-family: 'KyivType Sans';
font-style: normal;
font-weight: 500;
font-size: 90px;
line-height: 133%;
text-transform: uppercase;
color: #F5F5F5;
margin-left: 243px;
}
}
.wood-img{
    width: 90px;
height: 90px;
border-radius: 14px;

@media screen and(min-width:768px){
width: 205px;
height: 205px;
border-radius: 42px;

}
}
.wood-h2{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #F5F5F5;
margin: 16px 0 20px 101px ;

}
.wood-li{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
color: #F5F5F5;
margin-left: 73px;
margin-bottom: 8px;
list-style-type: none;

}


.wood-li::before{
    content:"✔" ;
    color: #FFC099;
    margin-right: 10px;
   
}
.wood-li:last-child{
    content:"✗";
  
}
.flex{
    display: flex;
    overflow: scroll;
}
.mr-56{
    margin-left: 77px;
}
.mt-20px{
    margin-top: 40px;
    margin-right: 34px;
    @media screen and(min-width:768px){
        margin-top: 0;
    }
}
.mr-34{
    margin-right: 34px;
    margin-left: 56px;
    @media screen and(min-width:768px){
        margin-left: 240px;
        margin-right: 220px;
    }
}
.ml-132{
    @media screen and(min-width:768px){
    margin-left: 132px;}
}
.ml-76{
    margin-left: 76px;
}