@charset "UTF-8";
body {
  background-image: url(../img/bg.svg);
  background-color: #222021;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: "Kyiv*Type Sans Medium";
  src: url(../fonts/kyiv-type-sans/KyivTypeSans-Medium-.otf);
}
.background-two {
  background-image: url(../img/imag-small.png);
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .background-two {
    background-image: url(../img/imag.png);
  }
}

.bg-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 16px 0 19px;
}

.category {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 768px) {
  .category {
    padding-left: 63px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F5F5F5;
  }
}

.header-category {
  display: flex;
  text-align: center;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-category {
    display: block;
  }
}

.burger-logo {
  display: block;
}
@media screen and (min-width: 768px) {
  .burger-logo {
    display: none;
  }
}

.burger {
  text-align: end;
}

@media screen and (min-width: 768px) {
  .header-logo {
    width: 197px;
    height: 83.8px;
  }
}

.about-us {
  margin-top: 86px;
}

.prodact-h {
  font-family: "Kyiv*Type Sans Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 104px;
  text-transform: uppercase;
  color: #F5F5F5;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .prodact-h {
    font-size: 30px;
    line-height: 107%;
  }
}

.prodact-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  color: #FFDBBB;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .prodact-p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFDBBB;
  }
}

.prodact-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 70px;
  background: #728BAD;
  border-radius: 42px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #F5F5F5;
  width: 225px;
  height: 58px;
  outline: 0;
  border: 0;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .prodact-button {
    display: flex;
    flex-direction: row;
    padding: 15px 17px;
    background: #728BAD;
    border-radius: 42px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #F5F5F5;
    width: 86px;
    height: 21px;
    outline: 0;
    border: 0;
  }
}

.line {
  border-left: 1px solid #F5F5F5;
}
@media screen and (max-width: 768px) {
  .line {
    border-bottom: 1px solid #F5F5F5;
  }
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 44px;
  align-items: stretch;
  padding: 50px;
  max-width: 1245px;
  margin-left: auto;
  background-color: #1E0C06;
  border-radius: 43px 0px 0px 43px;
}
@media screen and (max-width: 768px) {
  .d-flex {
    display: flex;
    flex-direction: column;
  }
}

.pictures {
  display: flex;
  flex-wrap: wrap;
}
.pictures img {
  width: 100%;
  max-width: 205px;
  max-height: 205px;
  border-radius: 42px;
}
@media screen and (max-width: 768px) {
  .pictures img {
    width: 100%;
    max-width: 90px;
    max-height: 90px;
    border-radius: 14px;
  }
}
@media screen and (max-width: 768px) {
  .pictures {
    position: absolute;
  }
}

.df-40 {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: nowrap;
}

.table {
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .table {
    margin-left: 20px;
    margin-bottom: 130px;
  }
}

.style {
  margin-left: auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .style {
    margin-right: 200px;
    margin-top: 130px;
  }
}

.pict {
  margin-left: 200px;
  margin-top: 60px;
}

.stars {
  margin-bottom: 230px;
}

.container {
  max-width: 1245px;
  min-width: 325px;
  margin-left: auto;
}

.wood {
  margin-top: 209px;
}

.wood-h {
  font-family: "Kyiv*Type Sans Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 133%;
  color: #F5F5F5;
  margin-left: 19px;
  margin-bottom: 90px;
}
@media screen and (min-width: 768px) {
  .wood-h {
    font-family: "Kyiv*Type Sans Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 133%;
    text-transform: uppercase;
    color: #F5F5F5;
    margin-left: 243px;
    margin-bottom: 125px;
  }
}

.flex {
  display: flex;
  overflow: scroll;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
@media screen and (min-width: 768px) {
  .flex {
    margin-top: 90px;
  }
}

.wood-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 76px;
  margin-bottom: 22px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .wood-1 {
    width: 277px;
    margin: 125px 174px 0 120px;
  }
}

.wood-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 0 25px 26px;
  width: 95px;
}
@media screen and (min-width: 768px) {
  .wood-2 {
    margin-top: 0;
    width: 281px;
  }
}

.wood-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 0 55px 28px;
}
@media screen and (min-width: 768px) {
  .wood-3 {
    margin: 0 133px 0 174px;
  }
}

.wood-img {
  width: 90px;
  height: 90px;
  border-radius: 14px;
}
@media screen and (min-width: 768px) {
  .wood-img {
    width: 205px;
    height: 205px;
    border-radius: 42px;
  }
}

.wood-h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #F5F5F5;
  margin-top: 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .wood-h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #F5F5F5;
    margin-top: 39px;
    margin-bottom: 38px;
  }
}

.wood-li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #F5F5F5;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .wood-li {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #F5F5F5;
  }
}

.wood-li::before {
  content: "✓";
  color: #FFC099;
  padding-right: 13px;
}

.wood-li-last {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #F5F5F5;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .wood-li-last {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #F5F5F5;
  }
}

.wood-li-last::before {
  content: "✘";
  color: #FFC099;
  padding-right: 13px;
}

.wood-ul1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  gap: 8px;
  width: 147px;
}
@media screen and (min-width: 768px) {
  .wood-ul1 {
    gap: 28px;
  }
}

.wood-ul2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  gap: 8px;
  width: 95px;
}
@media screen and (min-width: 768px) {
  .wood-ul2 {
    gap: 28px;
  }
}

html,
body {
  position: relative;
  height: 100%;
}

.container1 {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 16px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  max-width: 1130px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 48px;
  margin: 0 50px;
}

.swiper-pagination {
  position: initial;
  margin-top: 26px;
}

.custom-bullet {
  width: 26px;
  height: 26px;
  border: 4px solid #728BAD;
  border-radius: 100%;
  margin: 0 9px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
}
.custom-bullet.swiper-pagination-bullet-active {
  background: #D5DCEE;
}

.swiper-button-next, .swiper-button-prev {
  width: 50px;
  height: 50px;
  background-image: url(../img/strela.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.swiper-button-next:after, .swiper-button-prev:after {
  content: "";
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
  transform: rotateZ(180deg);
}

.swiper-h {
  margin: 93px 0 46px 19px;
  font-family: "Kyiv*Type Sans Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 133%;
  text-transform: uppercase;
  color: #F5F5F5;
}
@media screen and (min-width: 768px) {
  .swiper-h {
    margin: 258px 0 121px 238px;
    font-size: 90px;
  }
}

.advantage {
  margin-top: 93px;
}

.advantage-h {
  margin: 0 0 46px 19px;
  font-family: "Kyiv*Type Sans Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 133%;
  text-transform: uppercase;
  color: #F5F5F5;
}

.advantage-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}/*# sourceMappingURL=style.css.map */